<!-- Go Site -->
<%- partial('_partial/gosite') %>

<!-- Main Content -->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% page.posts.each(function(item){ %>
                    <%- partial('_partial/article-index', {item: item}) %>
                <% }); %>
            </div>
        </div>
        <!-- Pagination -->
        <%- partial('_partial/pagination') %>
        <!-- Search -->
        <%- partial('_partial/search') %>
    </div>
</section>
