<!DOCTYPE html>
<html lang="zh-Hans">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <!-- Content -->
    <%- body %>

    <!-- Scripts -->
    <%- partial('_partial/scripts') %>
    <!-- Google Analytics -->
    <%- partial('_partial/google-analytics') %>
</body>

</html>