.markdown
    display none

.vemoji
    box-shadow none !important

.vwrap
    padding 10px 0 0 0 !important
    font-size 18px
    border-radius 15px !important 
    border-color #c2c2c26b !important

.vheader
    width 80%
    bottom 0
    position absolute
    background #f7f7f7

.vheader input
    text-align center 

.veditor
    padding 0 2% 2% 2% !important
    background url("https://cdn.jsdelivr.net/gh/LuckyZmj/imgbed/posts/20201211215501.png") 100% 100% no-repeat !important

.vemojis
    padding-bottom 170px !important

.vbtn
    border-radius 0 !important
    padding 0 !important
    color #fff !important
    line-height 44px !important
    width 30% !important
    border none !important
    background #1abc9c !important

.vrow
    padding 0 !important
    padding-top 10px !important

.vpower
    display none !important

.vctrl
    padding-right 10px !important
