// 表格样式
th {
    text-align: center;
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

.gutter {
    padding: 0;
    padding-right: 15px;
    border: none;
    border-right: 1px solid #ddd;
}

.code {
    padding: 0;
    padding-left: 15px;
    border: none;
    border-left: 1px solid #fff;
}

// 搜索样式
a.nav-search {
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: white-faded;
    z-index: 99;

     &:hover, &:focus {
        color: red;
    }
}

.search-keyword {
    color: red;
    font-size: 12px;
}

.search-result {
    overflow:hidden;
    font-size: 12px;
}

a.nav-back {
    position: fixed;
}