/*
 * @author fakeyanss, zchen9
 */

@import "variables.styl"

// gist embed
.blob-num 
  border none !important

// search icon
a.nav-search 
  position fixed
  bottom 15px
  right 15px
  color white-faded
  cursor pointer
  z-index 99
  &:hover, &:focus
    color red
  @media only screen and (max-width: 1024px)
    display none
    opacity 0

// search result
.modal-dialog
  margin 120px auto
  @media only screen and (min-width: 1280px)
    width 50%
  @media only screen and (min-width: 1024px) and (max-width: 1280px)
    width 75%

.modal-content 
  border none
  border-radius 0
  overflow hidden
  box-shadow 2px 2px 22px gray

.modal-body 
  padding 0

.form-control 
  border none
  outline none
  caret-color red
  box-shadow none
  &:focus 
    box-shadow none

.search-result-title
  display block
  font-size 18px

.search-result-list 
  padding 20px
  margin 0 auto
  list-style none
  font-size 14px

.search-keyword 
  font-style normal
  font-weight 500
  color red

.search-result 
  margin 5px 0 20px
  overflow hidden
  line-height 1.8
  color gray-dark
  max-height 7.2em
  font-size 16px

// github table style
th 
  text-align center
  border 1px solid #dfe2e5
  padding 6px 13px
td 
  border 1px solid #dfe2e5
  padding 6px 13px

// fix conflict between table and code
.gutter 
  padding 0
  padding-right 15px
  border none
  border-right 1px solid #ddd
.code 
  padding 0
  padding-left 15px
  border none
  border-left 1px solid #fff
