#article-toc-inner:after,#article-toc-inner:before,.inner:after,.inner:before {
    content: "";
    display: table
}

#article-toc-inner:after,.inner:after {
    clear: both
}

@media screen {
    #article-toc-inner,.inner {
        padding: 0 20px
    }
}
#article-toc {
    display: none;
    float: right;
    width: 16%;
    margin-right: -220px;
    opacity: .8
}
@media screen and (min-width:986px) {
    #article-toc {
        display: block
    }
}
#article-toc.fixed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 220px;
    padding-top: 55px;
}
.fixed #article-toc-inner {
    position: fixed;
    width: 220px;
    top: 0;
    bottom: 0;
    padding-top: 10%;
}
#article-toc-inner ol {
    margin-left: -16px;
    list-style: none;
    font-size: 11px;
}