brand-primary = lighten(rgba(206, 35, 35, .9), 20%)
gray-dark = lighten(rgba(0, 0, 0, 1), 30%)
gray = lighten(rgba(0, 0, 0, .9), 45%)
white-faded = rgba(0, 0, 0, .5)
gray-light = rgba(235, 235, 235, .8)
color-border = #EEE
color-meta = #CCC
red = #CE2323

font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-serif = "Georgia", serif
