<a class="go-top">
    <i class="fa fa-arrow-up"></i>
</a>

<script type="text/javascript">
    if ($(window).scrollTop() <= 100) {
        $(".go-top").hide();
    }
    
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $(".go-top").fadeIn(500);
            } else {
                $(".go-top").fadeOut(500);
            }
        });
        $(".go-top").click(function () {
            $('body,html').animate({scrollTop: 0}, 500);
            return false;
        });
    });
</script>