<% if (theme.toc.enable){ %>
    <aside id="article-toc" role="navigation" class="fixed">
        <div id="article-toc-inner">
            <%- toc(post.content, {list_number: false}) %>
        </div>
    </aside>
<% } %>